header {
  background-color: #0072b5;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}
body {
  margin: 3px;
}

.search-city {
  border-style: groove;
  /* margin: 1px; */
  padding: 10px;
  border-radius: 5px;
  background-color: 95% #f2f2f3;
}
#searchHistory {
  margin: 20px;
}
/*  */
.custom-card {
  width: 200px;
  background-color: #0072b5;
  color: white;
  float: left;
  clear: none;
  margin: 30px;
  overflow: auto;
  padding: 10px;
}
.ccn {
  border-style: groove;
  padding: 10px;
  border-radius: 5px;
  background-color: #9bb7d4;
  color: white;
}
div li {
  list-style: none;
}
img {
  height: 50px;
  width: 50px;
}
